<ion-view view-title="categorias">
  <ion-content class="greyBG5">
  
<div class="row">


<div class="card col" ng-click="irAPortatiles()">

  <img class="full-image" src="http://localhost/PHPTiendaPC/imagenes/HP15AY029NS.jpg">

<div class="item item-divider center blueColor">
    <h2>Portatiles</h2>
  </div>
</div>



<div class="card col" ng-click="irASobremesa()">
  
   <img class="full-image" src="http://localhost/PHPTiendaPC/imagenes/PcComGoldProInteli5.jpg">

<div class="item item-divider center blueColor">
   <h2>Sobremesa</h2>
  </div>

</div>
  
</div>

  
<div class="row">


<div class="card col" ng-click="irATodoEnUno()">

  <img class="full-image" src="http://localhost/PHPTiendaPC/imagenes/MSIGaming276QE.jpg">

<div class="item item-divider center blueColor">
    <h2>Todo en uno</h2>
  </div>
</div>



<div class="card col" ng-click="irAPerifericos()">
  
   <img class="full-image" src="http://localhost/PHPTiendaPC/imagenes/approx-optical-mouse-usb-negro.jpg">

<div class="item item-divider center blueColor">
   <h2>Periféricos</h2>
  </div>

</div>
  
</div>
  </ion-content>
</ion-view>
