<ion-modal-view>
 
  <ion-content style="background-color:lightgrey;">
<div class="row">
  
 
   <div class="col">
     <img src="img/logo2.png" style="width: 200%;">
     </div>
    </br>
     <div class="col"></div>
</div>
<form ng-submit="logInData()">
    <div class="list">
      <div class="col">
  <label class="item item-input ">
    <span class="input-label">Email</span>
    <input type="email" ng-model="data.email">
  </label>
  <label class="item item-input ">
    <span class="input-label">Password</span>
    <input type="password" ng-model="data.password">
  </label>
      </div>
</div>

<div class="card">
                    <div class="item item-text-wrap">
                        Response: <b ng-bind="response2"></b>
                    </div>
                </div>


<button class="button button-block button-calm" type="submit">
  Log in
</button>
</form>
<div style="text-align:center;">
<button class="button button-icon positive" ng-click="singUp()">
 Sing up
</button>
</div>

  </ion-content>
</ion-modal-view>
